mixin Btn(text, type, classCustom,icon="fa-light fa-arrow-right icon")
    if(!classCustom)
        if(type == "button")
            button.btn(type="submit",class=classCustom)
                span.inner #{text}
                i(class=icon)
        else
            a.btn(href="",class=classCustom)
                span.inner #{text}
                i(class=icon)
    else 
        if(type == "button")
            button.btn(type="submit",class=classCustom)
                span.inner #{text}
                i(class=icon)
        else
            a.btn(href="", class=classCustom)
                span.inner #{text}
                i(class=icon)
mixin PageNumber 
    ul.page-numbers
        li 
            a.prev.page-numbers(href="")
                i.fa.fa-angle-left
        li
            span.page-numbers.current   
                | 1
        li
            a.page-numbers(href="")   
                | 2
        li 
            span.page-numbers.dot 
                |...
        li
            a.page-numbers(href="")   
                | 10
        li 
            a.next.page-numbers(href="")
                i.fa.fa-angle-right
mixin breadCrumb(arr)
  .breadcrumb 
      ul.breadcrumb-list
         li.breadcrumb-item(data-aos="fade-right")
            a.breadcrumb-link(href="")
               | Trang chủ
         each txt in arr
            li.breadcrumb-item(data-aos="fade-right")
               a.breadcrumb-link(href="") #{txt}
mixin pagination(classCustom)
    .swiper-pagination(class=classCustom)

mixin CountDown(time,customClass)
    .cdw(data-time= time, class= customClass)
      .cdw-list 
          .cdw-item(style="display: none")
              .cdw-inner 
                  .number.date
          .cdw-item 
              .cdw-inner 
                  .number.hour
          .cdw-item 
              .cdw-inner 
                  .number.minute
          .cdw-item 
              .cdw-inner 
                  .number.second
mixin Count()
   .count 
      .count-btn.count-minus 
         i.fas.fa-minus.icon
      input(type="text", class="count-input", max="999", min="0", value="1", hidden)
      p.count-number 1
      .count-btn.count-plus 
         i.fas.fa-plus.icon
mixin SwiperControl(customClass)
    .swiper-control(class= customClass) 
      .swiper-control-btn.swiper-prev 
          i.fa-light.fa-arrow-left
      .swiper-control-btn.swiper-next 
          i.fa-light.fa-arrow-right
mixin Swiper(customClass)
   .swiper-container 
      .swiper.rows 
         .swiper-wrapper 
            block
mixin img(name)
  img(src="./assets/images/" + name, alt="")
mixin popup(classCustom="",id="")
   .popup(data-popup-id= id)
      .popup-overlay
      .popup-main
         .popup-main-wrapper(class=classCustom)
            .popup-over
               .popup-wrapper
                  block
         .popup-close
            i.fas.fa-times.icon
mixin title(text,tag,classCustom)
   if(!tag)
      .head(class=classCustom)
         h2.t-title 
            | #{text}
   else 
      .head(class=classCustom)
         span.b-tag 
            | #{tag}
         h2.t-title 
            | #{text}
mixin Checker(type,shape,text,classCustom,name,num)
   if (shape == "circle")
      label.checker(class=classCustom) 
         input(type=type, name=name)
         span.circle 
         span.txt #{text}
            if(num)
               span.num #{num}
   if (shape == "checkbox") 
      label.checker(class=classCustom) 
         input(type=type , name=name)
         span.sqr 
         span.txt #{text}
            if(num)
               span.num #{num}
   if (shape == "tag")
      label.checker(class=classCustom) 
         input(type=type, name=name)
         span.txt #{text}
            if(num)
               span.num #{num}
mixin bnp(txt)
   .bnp 
      .bnp-wrap 
         h1.t-text #{txt} 
         .bnp-bg 
            +img("bnp-blog.jpg")
mixin news(index)
   .news-it 
      .b-img 
         a(href="").inner
            +img(`news-img (${index+1}).jpg`)
         span.icon-link
            i.fa-light.fa-arrow-right
      .b-ctn 
         .b-top 
            span.txt 22/01/2024
         .b-gr
            h3.t-text 
               a(href="") Breaking into Medical Billing & Coding: A Step-by-Step Guide
mixin lead()
   section.sec-lead 
      .lead.ss-pd 
         .lead-dc.x1 
            +img("lead-dc-1.png")
         .lead-dc.x2
            +img("lead-dc-2.png")
         .container
            .row 
               .col.col-6.lead-col 
                  .lead-img 
                     +img("lead-img.jpg")
               .col.col-6.lead-col
                  .lead-content
                     div 
                        span.lead-tag.re-tag THE LEADERSHIP
                        h2.lead-title Michael Andrews
                        p.lead-des.t-title Introducing our talented Program Director that lead your way.
                     .lead-flex 
                        .lead-item
                           .lead-ic 
                              +img("lead-ic-1.svg")
                           .lead-name 30+ Years Medical Coding and Billing Expertise
                        .lead-item
                           .lead-ic 
                              +img("lead-ic-2.svg")
                           .lead-name Dual Master's Degree in Business & Healthcare
                        .lead-item
                           .lead-ic 
                              +img("lead-ic-3.svg")
                           .lead-name Certified Professional with AAPC & MGMA